WS-JAX-SOAP-Server/etudiant-service-wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.doranco.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws.doranco.fr/" name="EtudiantService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws.doranco.fr/" schemaLocation="http://localhost/9991/ws/etudiant-service?xsd=1"/>
</xsd:schema>
</types>
<message name="getEtudiants">
<part name="parameters" element="tns:getEtudiants"/>
</message>
<message name="getEtudiantsResponse">
<part name="parameters" element="tns:getEtudiantsResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="addEtudiant">
<part name="parameters" element="tns:addEtudiant"/>
</message>
<message name="addEtudiantResponse">
<part name="parameters" element="tns:addEtudiantResponse"/>
</message>
<message name="getEtudiantById">
<part name="parameters" element="tns:getEtudiantById"/>
</message>
<message name="getEtudiantByIdResponse">
<part name="parameters" element="tns:getEtudiantByIdResponse"/>
</message>
<portType name="EtudiantService">
<operation name="getEtudiants">
<input wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantsRequest" message="tns:getEtudiants"/>
<output wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantsResponse" message="tns:getEtudiantsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiants/Fault/SQLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiants/Fault/IOException"/>
</operation>
<operation name="addEtudiant">
<input wsam:Action="http://jaxws.doranco.fr/EtudiantService/addEtudiantRequest" message="tns:addEtudiant"/>
<output wsam:Action="http://jaxws.doranco.fr/EtudiantService/addEtudiantResponse" message="tns:addEtudiantResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/addEtudiant/Fault/SQLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/addEtudiant/Fault/IOException"/>
</operation>
<operation name="getEtudiantById">
<input wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantByIdRequest" message="tns:getEtudiantById"/>
<output wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantByIdResponse" message="tns:getEtudiantByIdResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantById/Fault/SQLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://jaxws.doranco.fr/EtudiantService/getEtudiantById/Fault/IOException"/>
</operation>
</portType>
<binding name="EtudiantPortBinding" type="tns:EtudiantService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEtudiants">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="addEtudiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getEtudiantById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EtudiantService">
<port name="EtudiantPort" binding="tns:EtudiantPortBinding">
<soap:address location="http://localhost/9991/ws/etudiant-service"/>
</port>
</service>
</definitions>